---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Card from 'src/components/Card.astro';
import Layout from 'src/layouts/Layout.astro';

const cast = await getCollection('cast');
---

<Layout title='cast'>
	<main>
		<ol>
			{
				cast.map((char) => {
					const currentImage = char.data.images[0];
					return (
						<Card
							title={char.data.name}
							url={'cast/' + char.id}
							img={currentImage.image}
							alt={currentImage.imageAlt}
						/>
					);
				})
			}
		</ol>
	</main>
</Layout>

<style>
	ol {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2rem;
		padding: 0 2rem;
	}
</style>
