---
import { getCollection } from 'astro:content';
import Card from 'src/components/Card.astro';
import Layout from 'src/layouts/Layout.astro';

const cast = await getCollection('cast');
---

<Layout title='cast - jeblore'>
	<main>
		<ul>
			{
				cast.map((char) => {
					const currentImage = char.data.images[0];
					return (
						<Card
							title={char.data.name}
							url={'/cast/' + char.slug}
							img={currentImage.image}
							alt={currentImage.imageAlt}
						/>
					);
				})
			}
		</ul>
	</main>
</Layout>

<style>
	ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2rem;
		padding: 0 2rem;
	}
</style>
