---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from 'src/layouts/Layout.astro';
const comics = (await getCollection('comics')).sort((a, b) => {
	const aDateString = a.data.date.toLocaleDateString();
	const bDateString = b.data.date.toLocaleDateString();

	if (aDateString > bDateString) return 1;
	if (aDateString < bDateString) return -1;
	else return 0;
});
---

<Layout title='comics'>
	<main>
		{
			comics.map((comic) => {
				return (
					<a href={`comics/${comic.id}`}>
						<figure>
							<figcaption class='text-2xl'>{comic.data.title}</figcaption>
							<Image
								src={comic.data.image}
								alt={comic.data.imageAlt}
								width={300}
								height={300}
								quality='low'
							/>
						</figure>
					</a>
				);
			})
		}
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2rem;
		padding: 0 2rem;
	}

	figure {
		text-align: center;
		font-family: 'Shantell Sans Variable', system-ui;
		transition: all 0.25s;
	}
	figure:hover {
		transform: translateY(-5px);
	}

	figcaption {
		padding-bottom: 0.25rem;
	}
</style>
